@use '@scss/helpers/variables' as v;

.wrapper-slider {
	width: 100%;
	overflow: hidden;
	position: relative;
	display: flex;

	&__slider {
		width: 100%;
		overflow: auto;

		&::-webkit-scrollbar {
			display: none;
		}
	}
	&::after,
	&::before {
		position: absolute;
		content: '';
		display: block;
		top: 0;
		width: 10rem;
		height: 100%;
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}

	&::after {
		background: linear-gradient(
			to right,
			rgba(255, 255, 255, 0),
			map-get(v.$palette, 'background')
		);
		right: 0;
	}

	&::before {
		background: linear-gradient(
			to left,
			rgba(255, 255, 255, 0),
			map-get(v.$palette, 'background')
		);
		left: 0;
		opacity: 0;
	}

	&__scrolling-right::after,
	&__scrolling-left::before {
		opacity: 1;
	}
}
