@use '../base/mixins' as m;
@use '../base/variables' as v;

.btnCv {
	display: flex;
	align-items: center;
	transition: 0.3s ease-in-out;
	padding: 1rem 0;
	margin-right: 10px;
	font-weight: 700;

	@include m.tablet {
		padding: 0;
	}

	&:hover {
		background-color: v.$blanco;
		padding: 1rem 1.5rem 1rem 1rem;
		border-radius: 0.5rem;
		color: v.$rosa !important;

		.flecha {
			transform: rotate(90deg) translateX(-35%) translateY(-35%);
		}

		span {
			background: v.$rosa !important;
		}
	}
}

.flecha {
	transition: 0.3s ease-in-out;
	width: 2rem;
	height: 2rem;
	position: relative;

	span {
		position: absolute;
		width: 1.4rem;
		height: 0.3rem;
		transition: 0.3s ease-in-out;
		border-radius: 20%;
		background-color: v.$gris;
		right: 0;
	}

	.f-1 {
		top: 0;
		transform: rotate(45deg) translateY(30%) translateX(42%);
	}

	.f-2 {
		transform: rotate(-45deg) translateY(30%) translateX(42%);
		bottom: 0;
	}
}
