@use '../base/mixins' as m;
@use '../base/variables' as v;

.footer {
	margin-top: 0.1rem;
	font-family: v.$fuente_2;
	background-color: v.$azul;
	padding: 4rem 0 0 0;

	&__wave {
		height: 20px;
		margin: 0 auto;
		width: 100%;
	}

	&__contenido {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		margin-bottom: 1rem;

		@include m.desktop {
			flex-direction: row;
		}
	}

	&__grid {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(1, 1fr);
		margin-bottom: 3rem;

		@include m.tablet {
			margin-bottom: 0;
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&__bloque {
		font-size: 1.3rem;
		border-bottom: 0.1rem solid v.$blanco;

		@include m.tablet {
			padding-right: 1rem;
			border-right: 0.1rem solid v.$blanco;
			border-bottom: none;

			&:last-child {
				border: none;
			}
		}
		&:last-child {
			border: none;
		}
	}

	&__heading {
		@include m.heading;
		font-size: 2rem;
		color: v.$blanco;
	}

	&__texto {
		color: white;
		text-align: justify;

		ul {
			display: block;
			text-align: justify;
			padding: 0;

			li {
				color: v.$blanco;
				list-style: circle;
				display: list-item !important;
				margin-bottom: 1rem;
				margin-left: 40px;
			}
		}
	}

	&__logo {
		text-align: center;
		background-color: v.$blanco;
		box-shadow: 10px 10px 0px 0px v.$negro;
		padding: 2rem;
		align-items: center;
		color: v.$negro;
		font-size: 4rem;
		margin: 0 5rem;
		margin-bottom: 2rem;
		font-weight: 900;

		span {
			font-weight: 400;
		}

		@include m.tablet {
			margin-top: 2rem;
		}
	}
}

.copyrigth {
	border-top: 4px solid v.$blanco;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3rem 0;
	font-size: 1.5rem;
	flex-direction: column;
	color: v.$blanco;
	text-align: center;
	letter-spacing: 0.2rem;
	background-color: v.$negro;

	@include m.desktop {
		font-size: 2rem;
	}

	.redes-sociales {
		margin-top: 2rem;
		display: flex;
		gap: 2rem;
		align-items: center;
		padding-bottom: 7rem;

		img {
			filter: contrast(0%);
			height: 3rem;
			transition: 0.3s ease-in-out;

			&:hover {
				filter: contrast(60%);
			}
		}
	}
}
