@use '../base/mixins' as m;
@use '../base/variables' as v;

// Header Component
.header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
	transition: 0.3s ease-in-out;
	font-family: v.$fuente_2;
	background-color: v.$negro;

	a {
		color: v.$gris;
		transition: 0.3s ease-in-out;
	}

	&.scroll,
	&.abierto.scroll {
		background: v.$cristal;
		backdrop-filter: blur(5px);
		border-bottom: 1px solid v.$blanco;
		box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);

		.flecha span {
			background-color: v.$negro;
		}

		.btn__ham span {
			background-color: v.$negro;
		}

		a {
			color: v.$negro;
		}
	}

	&.abierto {
		border-radius: 0 0 3rem 3rem;

		@include m.tablet {
			border-radius: 0%;
		}
	}

	&__contenido {
		padding: 1rem 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		font-size: 1.4rem;
		overflow: hidden;
		height: 5.5rem;
		transition: 0.3s ease-in-out;

		@include m.tablet {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		@include m.desktop {
			padding: 1rem 15rem;
		}

		&.abierto {
			height: 27rem;

			@include m.tablet {
				height: auto;
			}

			& .btn__ham-1 {
				transform: rotate(45deg) translate(17%, 244%);
			}
			& .btn__ham-2 {
				transform: rotate(-45deg) translate(17%, -244%);
			}
		}
	}

	&__logo {
		font-weight: 700;
		font-size: 2rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		transition: 0.3s ease-in-out;

		& span {
			font-weight: 400;
		}
	}
}

// Boton de hamburguesa
.btn__ham {
	width: 3.5rem;
	height: 4rem;
	position: relative;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 0rem;

	@include m.tablet {
		display: none;
	}

	& span {
		transition: 0.3s ease-in-out;
		position: absolute;
		left: 0;
		right: 0;
		height: 0.2rem;
		background-color: v.$gris;
	}

	&-1 {
		top: 30%;
	}
	&-2 {
		bottom: 30%;
	}
}
