@use '../base/mixins' as m;
@use '../base/variables' as v;

/* Hero */
.hero {
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template: repeat(2, 1fr) / 1fr;
	background-color: v.$negro;
	position: relative;
	overflow: hidden;

	@include m.tablet {
		grid-template: repeat(2, 1fr) / repeat(2, 1fr);
	}

	img {
		max-width: 100%;
		position: absolute;
		top: -10rem;
		grid-row: 1 / 3;
		width: 100%;

		@include m.tablet {
			width: auto;
			height: 100%;
			bottom: 0;
			top: 0;
			right: 0;
			grid-column: 2 / 3;
			grid-row: 1 / 3;
		}
	}

	&__contenido {
		position: absolute;
		height: 100%;
		grid-row: 2 / 3;

		@include m.tablet {
			grid-column: 1 / 3;
			grid-row: 1 / 3;
		}
	}

	&__grid {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;

		p {
			margin: 0 5rem;
			text-align: center;
			color: v.$gris;
			font-family: v.$fuente_1;
			font-size: 3rem;

			@include m.tablet {
				margin: 1rem 10rem;
			}

			&.ubicacion {
				font-weight: 300;
				font-size: 2rem;
				font-family: v.$fuente_2;
			}

			@include m.desktop {
				&.titulo {
					font-size: 9rem;
				}
				&.ubicacion {
					font-size: 3rem;
				}
			}

			&.titulo {
				font-weight: 700;
				font-size: 6rem;
				transition: 0.6s ease-in-out;
				text-shadow: 0px 0px 100px v.$rosa, 0px 0px 10px v.$gris;

				&:hover {
					animation: neon 3s ease-in-out infinite;
				}

				&::after {
					margin: 1rem auto;
					content: '';
					display: block;
					width: 70%;
					background: radial-gradient(
						circle,
						rgba(6, 6, 6, 1) 0%,
						rgba(255, 46, 99, 1) 50%,
						rgba(6, 6, 6, 1) 100%
					);

					height: 0.1rem;
				}
			}
		}
	}

	&__wave {
		@include m.tablet {
			margin-top: -5rem;
		}
	}
}

.lik_1 {
	color: v.$gris;
	position: absolute;
	bottom: 0;
	z-index: 7;
	font-size: 5rem;
	left: 0;
	right: 0;
	text-align: center;
}

@keyframes neon {
	0% {
		text-shadow: 0px 0px 100px v.$rosa, 0px 0px 10px v.$gris;
	}
	50% {
		text-shadow: 0px 0px 10px v.$rosa, 0px 0px 0px v.$gris;
	}
	100% {
		text-shadow: 0px 0px 100px v.$rosa, 0px 0px 10px v.$gris;
	}
}

.texto__contendio {
	position: relative;

	[class*='line'] {
		background-color: v.$rosa;
		position: absolute;
		content: '';
		display: block;
	}

	.line-1 {
		width: 10%;
		height: 0.1rem;
		right: 5%;
		top: -10%;
	}

	.line-2 {
		width: 0.1rem;
		height: 25%;
		top: -10%;
		right: 5%;
	}
	.line-3 {
		width: 0.1rem;
		height: 25%;
		bottom: -10%;
		left: 5%;
	}

	.line-4 {
		width: 10%;
		left: 5%;
		bottom: -10%;
		height: 0.1rem;
	}
}
