@use '../base/mixins' as m;
@use '../base/variables' as v;

.navegacion {
	@include m.tablet {
		display: flex;
	}

	&__link {
		text-transform: uppercase;
		display: flex;
		color: v.$gris;
		letter-spacing: 0.1rem;
		height: 3rem;
		font-weight: 700;
		width: 10rem;
		position: relative;
		margin: 0.5rem 0 0 1rem;

		@include m.tablet {
			margin: 0 1rem;
			overflow: hidden;
			font-weight: 400;
		}

		p {
			position: absolute;
			left: 0;
			margin: 0;
			top: 0%;
			opacity: 100%;
			transition: 0.5s ease-in-out;
			transform: translateY(50%);
		}
		&__icon {
			filter: contrast(0);
		}

		@include m.desktop {
			@media (hover: hover) {
				&:hover p {
					left: 100%;
					opacity: 0%;
				}

				&:hover .navegacion__link__icon {
					left: 25%;
					opacity: 100%;
				}
			}
		}

		&__icon {
			position: absolute;
			height: 3rem;
			width: 3rem;
			opacity: 0%;
			left: 100%;
			transition: 0.5s ease-in-out;
		}
	}
}
.scroll {
	.navegacion__link__icon {
		filter: contrast(1);
	}
}
