@use '../base/mixins' as m;
@use '../base/variables' as v;

.proyecto {
	box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
	overflow: hidden;

	&__btn-git:hover {
		filter: contrast(100%);
		background-color: rgba(255, 255, 255, 0.479);
	}

	&__img {
		// background-image: url('../../img/projects/Captura\ de\ pantalla\ 2022-02-06\ 045447.png');
		position: relative;
		background-size: cover;
		height: 30rem;

		background-repeat: no-repeat;
		transition: 0.3s ease-in-out;

		@include m.desktop {
			height: 400px;
		}

		&:hover .proyecto__informacion,
		&.activo .proyecto__informacion {
			opacity: 1;
		}

		@include m.tablet {
			height: 300px;
		}
	}

	&__informacion {
		position: absolute;
		transition: 0.3s ease-in-out;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		padding: 15px 0;
		display: flex;
		background-color: rgba(0, 0, 0, 0.582);
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		@include m.desktop {
			opacity: 0;
		}
	}
	&__texto {
		text-align: center;
	}

	&__heading {
		font-size: 25px;
		position: relative;
		font-weight: 700;
		color: v.$blanco;
		margin-top: 10px;
		text-transform: uppercase;
		letter-spacing: 5px;
		margin-bottom: 20px;

		&::after {
			position: absolute;
			content: '';
			left: 15%;
			bottom: -60%;
			right: 15%;
			height: 2px;
			display: block;
			background-color: v.$blanco;
		}

		&::before {
			position: absolute;
			content: '';
			left: 15%;
			top: -30%;
			right: 15%;
			height: 2px;
			display: block;
			background-color: v.$blanco;
		}
	}

	&__tecnologias {
		margin-top: 3rem;
		color: v.$blanco;
		font-family: v.$fuente_2;
		letter-spacing: .5rem;
		font-size: 1.6rem;
	}

	.acciones {
		border-radius: 0.5rem;
		border: 0.1rem solid transparent;
		background-color: v.$cristal;
		padding: 0.5rem 4rem;
		transition: 0.3s ease-in-out;

		&:hover {
			background-color: v.$rosa;
		}

		img {
			height: 5rem;
		}
	}
}

ul {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 40px;
	gap: 5px;
	flex-wrap: wrap;

	li {
		// background-color: white;
		color: v.$negro;
		// border-radius: 10px;
		padding: 5px 20px;
		list-style: none;
		display: flex;
		align-items: center;
		// border: 2px solid rgba(255, 255, 255, 0.479);
		img {
			height: 30px;
		}
	}
}
