@use '../../../src/sass/base/variables' as v;

.popupCookie {
	position: fixed;
	top: 0;
	width: 100%;
	font-family: v.$fuente_2;
	z-index: 10;
	height: 100vh;
	animation: fadeIn 0.5s;
}

.popupCookie__overlay {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
	height: 100%;
	width: 100%;
	display: flex;
	align-items: flex-end;
}

.popupCookie__popup {
	background: #ffffff;
	width: 100%;
	animation: popupCookie 0.6s ease-in-out;
}

.popupCookie__content {
	padding: 3rem 0;
	display: flex;
	gap: 1rem;
	align-items: center;
	flex-direction: column;

	justify-content: space-between;

	@media (min-width: 768px) {
		flex-direction: row;
	}
}

.popupCookie__img {
	width: 100%;
	max-width: 15rem;
	filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.2));
}
.popupCookie__meta {
	flex: 1;
	display: flex;
	flex-direction: column;
}
.popupCookie__meta h3 {
	margin: 0;
	font-size: 3rem;
	font-weight: 600;
	margin-bottom: 1rem;
	font-family: v.$fuente_2;
	display: flex;

	align-items: center;
	gap: 1rem;
	justify-content: center;

	@media (min-width: 768px) {
		justify-content: flex-start;
	}
}
.popupCookie__text {
	font-size: 1.6rem;
}
.popupCookie__btn {
	padding: 2rem 3rem;
	border: none;
	background: #000;
	color: #fff;
	font-size: 1.3rem;
	cursor: pointer;
	transition: box-shadow 0.3s ease-in-out;

	&:hover {
		background: v.$rosa;
		color: #fff;
	}

	&--close {
		background: #fff;
		color: #000;

		border: 1px solid #000;
		&:hover {
			background: v.$gris;
			color: v.$negro;
		}
	}
}

.popupCookie__action {
	font-size: 1.4rem;
	font-weight: 600;
	color: v.$rosa;

	&:hover {
		text-decoration: underline;
	}
}
.popupCookie__buttons {
	display: flex;
	gap: 1rem;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes popupCookie {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes exit {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(100%);
	}
}
